/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *equals require_tree .
 *equals require_self
 */

#container {
    overflow: hidden;
    align-items: center;
}

.task-checkbox {
    float:left;
    width:30px;
}

.buttons {
    float: right;
    clear: both;
}

.done {
    background-color: #d4edda;
}

.form-inline {
    margin: 20px;
}

.form-inline > button{
    width: 15%;
}

#form-input {
    width: 80%;
}

#input-task{
    width: 100%;
}

.wrapper {
    background: #FFFFFF;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    display: block;
    align-items: center;
}

#title-page {
    position: absolute;
    width: 100%;
    display: inline-block;
    float: none;
    vertical-align: middle;
    text-align: center;
    color: #FFFFFF;
}

#task-title {
    vertical-align: middle;
}

.task-list {
    padding:0;
    margin:0;
}

.task-list > li {
    position:relative;
    padding:10px 5px;
    border-bottom:1px dashed #eaeaea;
    vertical-align: middle;
}